--------------+------------------------------------+-----------------     
  Header      |  Prefix                            |  Suffix
--------------+------------------------------------+-----------------
	      |                                    |
libbaalue.h   | error_*                            |
              | print_*                            |
              | lcd_*                              |
              |                                    |
--------------+------------------------------------+-----------------
