--------------+------------------------------------+-----------------     
  Header      |  Prefix                            |  Suffix
--------------+------------------------------------+-----------------
	      |                                    |
libbaalue.h   |                                    |
              |                                    |
              |                                    |
              |                                    |
--------------+------------------------------------+-----------------
